@font-face {
  font-family: 'Avenir';
  src: 'fonts/AvenirNextLTPro-Regular.otf'
}

* {
  font-family: 'Avenir', sans-serif;
}

body {
  background-color: #EAEAEA;
  margin:0;
}

a{
  text-decoration: none;
  color: white;
}
a:visted {
  color:white;
}

header {
  background-color: #898A79;
  border-bottom: 2px solid black;
  width:100vw;
  position: absolute;
  height: 5vh;
  top:0;
  z-index: 1;
}

footer{
  background-color: #555646;
  position: fixed;
  width: 100%;
  color: white;
  height: 5vh;
  padding-top: 2vh;
  bottom: 0;
}

copyright{
    position: relative;
    margin: 10vh 0 0 2vh;
    font-size: 1.25em;
}

/*------ SPLASH PAGE STYLINGS ------*/

#left{
  width:49vw;
  float:left;
  display: inline-block;
  position:relative;
}

heading {
  position: absolute;
  text-align: center;
  margin: 38vh 0 0 14vw;
  font-size: 1.5em;
  color:#3A0054;
}

.btn {
  text-align: center;
  font-size: 1.25em;
  color: white;
  background-color: #28291C;
  border-radius: 5px;
}

#chooseTracks{
  margin: 45vh 0 0 34%;
}

#right {
  position:relative;
  width:49vw;
  float:right;
  right:0;
  margin-top: 5vh;
}
.railroad {
  position: absolute;
  height:95vh;
  width:100%;
  opacity: 0.19;
  z-index: -1;
}

.albumPic{
  display: inline-block;
  height: 25vh;
  width:25vh;
  margin: 2vh 0 2vh 37%;
  z-index: 5;
}

/*---- PLAYLIST STYLINGS ----- */

container {
  width:90vw;
  margin-left: 5vw;
  height: 100vh;
  display: inline-block;
}


fatHeader {
  background-color: #898A79;
  position: absolute;
  width:100vw;
  height:20vh;
  top:0;
  z-index: 1;
  color:white;
}
fatHeader p {
  bottom: 0;
  margin-top: 13vh;
  margin-left: 10vh;
  font-size: 1.5em;
}

#albums {
  width: 80vw;
  height: 15vh;
  margin:22vh auto auto auto;
  display: flex;
  overflow: scroll;
}

#albums img {
  height: 15vh;
  margin: auto 2vw auto auto;
}

#trackBox {
  width:80vw;
  height: 30vh;
  border:1px solid black;
  margin: 5vh auto 2vh auto;
  overflow: scroll;
}

#trackBox p {
  margin: 0.5vh 0 0.25vh 2vw;
  font-weight: bold;
}

#clearTracks {
  margin-left: 5vw;
}
